

  <div class="mb-3 text-light titulo-home" >
    <h3>ENTERTAINMENT</h3>
    <h5>¡¡Encontraras lo mas nuevos de las peliculas y series del mundo!!</h5>
  </div>

  <div class="cards d-flex flex-wrap">

    <div class="card" style="width: 8rem; margin: 0.9rem;">
      <img src="https://thefader-res.cloudinary.com/private_images/w_1440,c_limit,f_auto,q_auto:best/RUIZ_BadBunny_20_web_uxozlg/bad-bunny-cover-story-conejo-malo-interview.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BOBO</h5>
        <p class="card-text">bad bunny</p>
        <a href="#" class="btn btn-primary p-1">Go</a>
      </div>
    </div>

    <div class="card" style="width: 8rem; margin: 0.9rem;">
      <img src="https://thefader-res.cloudinary.com/private_images/w_1440,c_limit,f_auto,q_auto:best/RUIZ_BadBunny_20_web_uxozlg/bad-bunny-cover-story-conejo-malo-interview.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BOBO</h5>
        <p class="card-text">bad bunny</p>
        <a href="#" class="btn btn-primary p-1">Go</a>
      </div>
    </div>
  </div>


<hr>
  <div class="mb-3 text-light titulo-home" >
    <h3 class="novedades">NOVEDADES</h3>
    <h5>¡¡Encontraras lo mas nuevos de las peliculas y series del mundo!!</h5>
  </div>

  <div class="cards d-flex flex-wrap">

    <div class="card" style="width: 8rem; margin: 0.9rem;">
      <img src="https://thefader-res.cloudinary.com/private_images/w_1440,c_limit,f_auto,q_auto:best/RUIZ_BadBunny_20_web_uxozlg/bad-bunny-cover-story-conejo-malo-interview.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BOBO</h5>
        <p class="card-text">bad bunny</p>
        <a href="#" class="btn btn-primary p-1">Go</a>
      </div>
    </div>

    <div class="card" style="width: 8rem; margin: 0.9rem;">
      <img src="https://thefader-res.cloudinary.com/private_images/w_1440,c_limit,f_auto,q_auto:best/RUIZ_BadBunny_20_web_uxozlg/bad-bunny-cover-story-conejo-malo-interview.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BOBO</h5>
        <p class="card-text">bad bunny</p>
        <a href="#" class="btn btn-primary p-1">Go</a>
      </div>
    </div>
  </div>



  <hr>
  <div class="mb-3 text-light titulo-home" >
    <h3 class="novedades">iojopip</h3>
    <h5>¡¡Encontraras lo mas nuevos de las peliculas y series del mundo!!</h5>
  </div>

  <div class="cards d-flex flex-wrap">

    <div class="card" style="width: 8rem; margin: 0.9rem;">
      <img src="https://thefader-res.cloudinary.com/private_images/w_1440,c_limit,f_auto,q_auto:best/RUIZ_BadBunny_20_web_uxozlg/bad-bunny-cover-story-conejo-malo-interview.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BOBO</h5>
        <p class="card-text">bad bunny</p>
        <a href="#" class="btn btn-primary p-1">Go</a>
      </div>
    </div>

    <div class="card" style="width: 8rem; margin: 0.9rem;">
      <img src="https://thefader-res.cloudinary.com/private_images/w_1440,c_limit,f_auto,q_auto:best/RUIZ_BadBunny_20_web_uxozlg/bad-bunny-cover-story-conejo-malo-interview.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">BOBO</h5>
        <p class="card-text">bad bunny</p>
        <a href="#" class="btn btn-primary p-1">Go</a>
      </div>
    </div>
  </div>
